<div ng-controller="Drawer">
  <ul>
    <li collection-switch="fridge">
      <p>Fridge</p>
    </li>
    <li collection-switch="pantry">
      <p>Pantry</p>
    </li>
    <li collection-switch="freezer">
      <p>Freezer</p>
    </li>
    <li>
      <p>&nbsp;</p>
    </li>
  </ul>
  <ul>
    <li class="label">
      <p>Settings</p>
    </li>
    <li>
      <span>Sort by:</span>
      <span class="down-arrow">▼</span>
      <select class="dropdown" name="sort" sort-switch set-sort-preference="true">
        <option value="-purchase_date">Newest</option>
        <option value="purchase_date">Oldest</option>
        <option value="name">Name</option>
        <option value="-quantity">Quantity</option>
      </select>
    </li>
  </ul>
</div>