.delete
  padding: 0
  width: 0
  -webkit-transform: translateZ(0)

  .deleting &
    -webkit-transition: width .2s ease-in-out
    width: 30%
    background-color: red
    color: white
    text-align: center
    display: inline-block
    position: absolute
    margin: -1rem 0
    right: 0
    line-height: 3.65rem
    z-index: 10
    font-size: 1.2rem
