.name
  width: 68%
  margin-left: 2%
  font-size: 1.1rem
  line-height: 1.1rem

.quantity
  width: 10%
  color: #57C2D9
  text-align: center
  font-size: 1.3rem

.date
  font-style: italic
  color: #929292
  position: relative
  display: inline
  width: 20%
  padding-top: 0.2rem

.date-entry
  width: 23%
  padding-top: 0
  color: black
  font-style: normal
  text-align: right

.fridgeItems
  overflow: hidden !important
  margin: 0
  padding: 0
  width: 100%
  li
    width: 100%
    display: -webkit-inline-flex
    padding: 5% 4%
    border-bottom: 1px solid #F4F4F4

.encouragement
  text-align: center