html
  background-color: #55BBED

body
  background-color: #55BBED
  color: #FFFFFF
  font-size: 1.3rem
  font-weight: 400

ul
  list-style-type: none
  margin: 0
  padding: 0

li, .label
  line-height: 3.0rem
  border-bottom: 1px solid
  border-bottom-color: rgba(255, 255, 255, 0.3)
  &:active
    color: #C6C6C6

li
  p, span
    padding: 0 0 0 0.5rem
    margin: 0

.label
  line-height: 1.4rem
  font-size: 1rem

.dropdown
  background-color: inherit
  -webkit-appearance: none
  border: none
  font-size: 1.2rem
  line-height: 1.2rem
  color: inherit
  padding: 0
  margin: 0

.down-arrow
  padding: 0

@import 'overrides'