body
  background-color: white

input
  background-color: inherit
  border: none
  -webkit-appearance: none
  padding: 0
  margin: 0
  font: inherit
  color: inherit

@import 'overrides'
@import 'items'
@import 'buttons'