<div ng-app="InMyFridge">

  <div ng-controller="Items">
      <ul class="fridgeItems">
        <li class="fridgeItem" ng-repeat="item in items | orderBy:sortOption" swipe-to-delete="">
          <input type="text" update-on-blur tap-to-edit class="quantity" ng-model="item.quantity" pattern="\d*"></input>
          <input type="text" update-on-blur tap-to-edit class="name" ng-model="item.name" data-sort="{{item.purchase_date}}"></input>
          <span class="date" ng-click="editDate(item)" ng-bind="item.purchase_date | timeElapsed"></span>
          <span class="delete" ng-click="removeItem(item)">Delete</span>
        </li>
        <div class="encouragement" ng-show="items.length < 1">
          <p>Hey, your {{collectionTitle}} is empty!</p>
          <p>Click + to add an item once you restock.</p>
        </div>
      </ul>
  </div>

</div>