<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>In My Fridge</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />

  <script src="/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>


  <script src="/components/angular/angular.min.js"></script>

  <script src="/components/underscore/underscore-min.js"></script>
  <script src="/components/moment/min/moment.min.js"></script>

  <script src="/vendor/hammerjs/hammer.min.js"></script>
  <script src="/vendor/angular-hammer/angular-hammer.js"></script>


  <script type="text/javascript">
    window.app = angular.module('InMyFridge', ['hmTouchevents']);
  </script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
  <script src="/modules/modules.js"></script>
</head>
<body>


  <%= yield.view %>

</body>
</html>
